body{ margin:0px; font-family:"Helvetica", "Ariel";}
#page {
background:white;
width:800px;
height:100%;
margin:auto;
}
#title{ position:relative;}
#title img { 
    left: -14px;
    position: relative;
    top: 15px;
}
#title #subtitle {
	padding-top: 10px;
	max-width: 400px;
	font-size: 14px;
}
#content {
	min-height:500px;
	width:100%;	

}#content-text { padding:40px; padding-left: 0;}
